<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %}</title>
<link rel="stylesheet" href={% static "common/css/style.css" %}>
<link rel="icon" type="image/png" href="{% static 'images/ticketrush_favicon.svg' %}">
</head>
<body>

<div id="site-nav"></div>

<main class="tr-main">

    {% block content %}{% endblock content %}

</main>

<div class="tr-toast" id="toast"></div>

<script src={% static "common/js/api.js" %}></script>
<script src={% static "common/js/nav.js" %}></script>
<script src={% static "common/js/toast.js" %}></script>
{% block js %}{% endblock %}
</body>
</html>